header{ 
    background: rgb(122, 145, 175);
    padding: 20px 0;
}

.caixa-nav{
    position: relative;
    width: 948px;
    margin: 0 auto;
}

h1 {
    display:inline;
}

#logo {
    width: 500px;
}

nav{
    display:inline-block;
    position: absolute;
    right: 30px;
    top:110;
}

nav li {
     display:inline;
     margin: 10px;
}
nav a {
    text-transform: uppercase;
    color:rgb(71, 8, 131);
    font-weight:bold;
    font-size: 20px;
    text-decoration: none;
}