body{
    background-color: rgb(155, 180, 204) ;
    
}

#cosmeticos {
 width: 500%;
 height: 250px;

}

h1 {
    text-align: center;
    background: rgb(10, 89, 179);
}

p {   
    text-align: center;
    background-color: rgb(130, 132, 133);
}
        