body{
    background-color: rgb(172, 188, 204) ;
    
}

#cosmeticos {
 width: 50%;
 height: 80%;
 left: 35%;

}

h1 {
    text-align: center;
    background: rgb(22, 123, 240);
}

p {   
    text-align: center;
    background-color: rgb(130, 132, 133);
}
 .itens {
    font-style: italic;
    color: rgb(87, 2, 87);
 }

    h2 {
        text-align: center;
    }    

    .beneficios {
        background-color:rgb(70, 8, 70)
    }
    ul {
        display: inline-block;
        vertical-align: top;
    }
    
    #cosmeticos2 {
        width: 35%;
    }